::selection {
	color: #fff;
	background-color: lightgreen;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
}
/*-------------About Us Page----------------*/

.sub-header {
	min-height: 65vh;
	width: 100%;
	position: relative;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../image/background.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 6%;
}

img[src*='logo.png'] {
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

nav ul li .active {
	color: lime;
}

nav ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 8px 12px;
}

nav ul li::after {
	content: "";
	height: 2px;
	width: 0;
	background: #04A66D;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: width 0.5s ease-in-out;
}

nav ul li:hover::after {
	width: 90%;
}

/*-------------Toggle menu--------------*/
#Menu {
	display: none;
}

.title-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #f1f1f1;
	margin-top: 20px;
}

.title-text h1 {
	font-size: 40px;
}

.title-text p {
	margin: 10px;
	font-size: 20px;
}


/*-----------------About-Us-----------*/
.about-us {
	width: 80%;
	margin: 100px auto;
	text-align: center;
	padding: 80px 0 40px 0;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-about {
	flex-basis: 48%;
	padding: 30px 2px;
}

.about-us h1 {
	padding: 0;
}

.about-us p {
	padding: 15px 0 25px;
}

.about-us .btn {
	border: 1px solid #ECF87F;
	padding: 10px 15px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: transparent;
	color: green;
	float: left;
	transition: 0.4s;
}

.about-us .btn:hover {
	color: #fff;
	 background: lightgreen;
}

.about-us img {
	width: 100%;
}

	/*-------------footer---------*/

.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	margin: auto;
}

.footer h4 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 20px;
}

.icon .fa {
	color: #58bf24;
	cursor: pointer;
	margin: 0 13px;
	padding: 18px 0;
}

@media screen and (max-width:700px) {
	/*-----------header--------------*/
	.sub-header {
		padding: 10px 0;
	}

	nav ul li {
		display: block;
		text-align: center;
		margin-top: 5px;
	}

	#logo {
		width: 60px;
		height: 60px;
	}

	#navLinks {
		position: fixed;
		top: 0;
		right: -180px;
		width: 180px;
		height: 100vh;
		margin-top: -1px;
		z-index: 2;
		background-color: rgba(10,170,40,0.6);
		transition: 1s;
	}

	.nav .menu {
		display: block;
		border-radius: 50%;
		margin: 10px;
		cursor: pointer;
	}

	#navLinks ul {
		padding: 30px;
		text-align: center;
	}

	/*-------------Toggle menu--------------*/
	#Menu {
	display: inline-block;
	}

	.title-text h1 {
		font-size: 25px;
	}

	.row {
		flex-direction: column;
	}

	.about-us .btn {
		padding: 8px 10px;
	}
}